<section class="relative pt-12 bg-blueGray-50">
  <div class="items-center flex flex-wrap">
    <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
      <img
        alt="..."
        class="max-w-full rounded-lg shadow-lg"
        src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
      />
    </div>
    <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
      <div class="md:pr-12">
        <div
          class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300 mt-8"
        >
          <i class="fas fa-rocket text-xl"></i>
        </div>
        <h3 class="text-3xl font-semibold">Lorem ipsum dolor</h3>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
          soluta sed nostrum ipsa nemo. Unde officiis odio, quia minima beatae
          ut illo placeat animi quod, molestiae veniam fuga, harum facere.
        </p>
        <ul class="list-none mt-6">
          <li class="py-2">
            <div class="flex items-center">
              <div>
                <span
                  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
                  ><i class="fas fa-fingerprint"></i
                ></span>
              </div>
              <div>
                <h4 class="text-blueGray-500">1</h4>
              </div>
            </div>
          </li>
          <li class="py-2">
            <div class="flex items-center">
              <div>
                <span
                  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
                  ><i class="fab fa-html5"></i
                ></span>
              </div>
              <div>
                <h4 class="text-blueGray-500">2</h4>
              </div>
            </div>
          </li>
          <li class="py-2">
            <div class="flex items-center">
              <div>
                <span
                  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
                  ><i class="far fa-paper-plane"></i
                ></span>
              </div>
              <div>
                <h4 class="text-blueGray-500">3</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="relative pt-8 pb-6 mt-8">
    <div class="container mx-auto px-4">
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      ></div>
    </div>
  </footer>
</section>
